 <div class="card-datatable table-responsive text-nowrap">
                  <table id="userDatatable"  class="datatables-basic table table-bordered">
            <thead>
                <tr>
                 <th>الرقم</th>
                 <th>الاسم</th>
                 <th>المسمى الوظيفي</th>
                 <th>رقم الهاتف</th>
                 <th>العنوان</th>
                 <th>تاريخ الاضافة</th>
                 <th>حالة المستخدم</th>

                </tr>
            </thead>
        </table>
    </div>